body{
margin:0;
font-family:Arial;
background:#0b1220;
color:#e5e7eb;
}

header{
padding:20px;
text-align:center;
background:#020617;
font-size:22px;
color:#22c55e;
}

.container{
max-width:900px;
margin:40px auto;
padding:20px;
}

.card{
background:#111827;
padding:20px;
border-radius:12px;
margin-bottom:15px;
}

a{
color:#22c55e;
text-decoration:none;
}
